<div id="portfolioDummy"></div>
<section id="implementation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">

                <h3>About</h3>
                <h1>SalesForce Implementation</h1>
            </div>
            <div class="col-7">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos mollitia debitis assumenda nisi nesciunt
                        eligendi doloremque quo perspiciatis quisquam vero quia autem corporis consequatur qui dignissimos
                        facere, neque atque eum?</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="integration">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos mollitia debitis assumenda nisi nesciunt
                        eligendi doloremque quo perspiciatis quisquam vero quia autem corporis consequatur qui dignissimos
                        facere, neque atque eum?</p>
                </div>
            </div>
            <div class="col-6">
                    <h1>SalesForce Integration</h1>
               
                <div id="integrationPic">

                </div>
               
            </div>


        </div>
    </div>
</section>